@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wavefont&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Didact+Gothic", "Lato", "Wavefont";
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

p {
  font-size: 1.6rem;
  font-family: Lato;
}

@media(max-width: 350px) {
  body {
    overflow: scroll;
  }
}